@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #64FFDA;
  --color-background-light: #F8F9FA;
  --color-background-dark: #0A192F;
  --color-card-dark: #1E2A47;
  --color-text-light: #0A192F;
  --color-text-dark: #CCD6F6;
  --color-text-secondary-light: #8892B0;
  --color-text-secondary-dark: #8892B0;
  --color-accent: #64FFDA;
  --font-family-display: 'Manrope', sans-serif;
  --border-radius: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}